[user]
	name = XiaochenCui
	email = jcnlcxc.new@gmail.com
[push]
	default = simple
[credential]
	helper = store
[push]
	default = simple
[merge]
	tool = kidff3
[diff]
	tool = diffmerge
[core]
	editor = vim
[commit]
	template = ~/.git-commit-template.txt
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[pull]
	rebase = false
