[user]
	name = XiaochenCui
	email = jcnlcxc.new@gmail.com
[push]
	default = simple
[credential]
	helper = store
[push]
	default = simple
[merge]
	tool = kidff3
[diff]
	tool = diffmerge
[core]
	editor = vim
[commit]
	template = ~/.git-commit-template.txt
[http]
[http "https://go.googlesource.com"]
	proxy = 127.0.0.1:1087
[http "https://github.com"]
	proxy = 127.0.0.1:1087
[https]
	proxy = 127.0.0.1:1087
[http]
	proxy = 127.0.0.1:1087
[socks]
	proxy = 127.0.0.1:1080
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
